
/*----------------------------------------------------------------------------------------*/
/*----------------------------------Body and HTML------------------------------------*/
html {  overflow-y: scroll;}
/* demo styles */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;}
section{margin: 2%;}

/*----------------------------------------Logout-----------------------------------------*/
#logout-button{display:block;float:right;color:white;padding: 2% 7.5%;text-decoration:none;-webkit-transition: .5s ease;}
#logout-button:hover{background:#007757;color:white;}


/*------------------------------------------------------------------------------------------------*/
/*----------------------------------------Dashboard-----------------------------------------*/
ul {list-style-type: none; margin: 0; padding: 0;overflow:hidden;background-color: #333}
li {display:inline;}
li a{display:block;float:left;color:white;padding: 2% 5.5%;text-decoration:none;}
li a:hover{	background:#007757;	color:white;}
.active{ background:#007757;color:white;}	

/*-------------------------------------------------------------------------------------*/
/*------------------------------upload Assignment----------------------------*/
@charset "utf-8";
*, *:before, *:after { box-sizing: border-box;}
a {  text-decoration: none; color: #1ab188;-webkit-transition: .5s ease;}
a:hover { color: #179b77;}
.form { background: rgba(19, 35, 47, 0.9);padding: 2%; max-width: 80%;
 margin: 5% auto; border-radius: 4px; box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);}
 
 .output_form 
 { background: rgba(19, 35, 47, 0.9);
   padding: 2%; 
   max-width: 80%;
   margin: 5% auto; 
   border-radius: 4px; 
   box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
 }
 
.tab-group { list-style: none; padding: 0;  margin: 0 0 40px 0;}
.tab-group:after { content: "";display: table;clear: both;}
.tab-content > div:last-child {display: block;}
.button { border: 0; outline: none; border-radius: 0; padding: 15px 0;font-size: 1rem;font-weight: 600;text-transform: uppercase;  letter-spacing: .1em; background: #1ab188;  color: #ffffff; -webkit-transition: all 0.5s ease;transition: all 0.5s ease;   -webkit-appearance: none;}
.button-block { display: block; width: 100%;}

.part{margin-left:15%;}
.part2{display:block;}
#mainselection{ width:30%}
select {
    border: 0 none;color: #FFFFFF;background: #007757;font-size: 14px;font-weight: bold;
    padding: 2px 10px;width: 180px;margin-top:2%;margin-right:1%;margin-bottom:1%;overflow: hidden;
	-moz-border-radius: 9px 9px 9px 9px;-webkit-border-radius: 9px 9px 9px 9px;border-radius: 9px 9px 9px 9px;box-shadow: 1px 1px 11px #330033;
}



.style-input-text{display: inline-block;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;
float: left;z-index: auto;width: 60%;height: 2%;position: static;cursor: default;opacity: 1;
margin: 2% auto;padding: 5px 10px;overflow: visible;border: 2px solid #b7b7b7;
-webkit-border-radius: 25px;border-radius: 25px;font: normal 1rem/normal Verdana, Geneva, sans-serif;
color: rgba(0,142,198,1);-o-text-overflow: clip;text-overflow: clip;
background: rgba(255,255,255,1);-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-webkit-transform: none;transform: none;-webkit-transform-origin: 50% 50% 0;transform-origin: 50% 50% 0;}
.style-button-browse {display: inline-block;-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;box-sizing: content-box;float: none;z-index: auto;width: 15%;height: 2%;
position: static;cursor: pointer;opacity: 1;margin:2% 2%;padding: 1% 2%;overflow: visible;border: 1px solid #018dc4;
-webkit-border-radius: 9px;border-radius: 9px;font: normal 1rem/normal Verdana, Geneva, sans-serif;
color: black;text-align: center;-o-text-overflow: clip;text-overflow: clip;background: #1dc8e2;
-webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.2);box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.2);-webkit-transition: all 300ms cubic-bezier(0.42, 0, 1, 1);-moz-transition: all 300ms cubic-bezier(0.42, 0, 1, 1);
-o-transition: all 300ms cubic-bezier(0.42, 0, 1, 1);transition: all 300ms cubic-bezier(0.42, 0, 1, 1);
-webkit-transform: none;transform: none;-webkit-transform-origin: 50% 50% 0;transform-origin: 50% 50% 0;}
.style-button-browse:hover, .style-button-browse:focus {color: white; background: #d61364;}

.style-button-submit {display: block;-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;box-sizing: content-box;float: none;z-index: auto;width: 15%;height: 2%;
position: static;cursor: pointer;opacity: 1;margin:2% 40%;padding: 1% 2%;overflow: visible;border: 1px solid #018dc4;
-webkit-border-radius: 9px;border-radius: 9px;font: normal 1rem/normal Verdana, Geneva, sans-serif;
color: black;text-align: center;-o-text-overflow: clip;text-overflow: clip;background: #1dc8e2;
-webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.2);box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.2);-webkit-transition: all 300ms cubic-bezier(0.42, 0, 1, 1);-moz-transition: all 300ms cubic-bezier(0.42, 0, 1, 1);
-o-transition: all 300ms cubic-bezier(0.42, 0, 1, 1);transition: all 300ms cubic-bezier(0.42, 0, 1, 1);
-webkit-transform: none;transform: none;-webkit-transform-origin: 50% 50% 0;transform-origin: 50% 50% 0;}
.style-button-submit:hover, .style-button-submit:focus {   color: white; background: #d61364;}


span{ display:inline-block; font-size: 1rem; color: #fff; text-transform: uppercase;
  font-weight: 300; text-align: left; margin:1% 5%;font: bold 1rem/normal Verdana, Geneva, sans-serif;}

.txtarea-que{
	width: 90%;
	height: 20%;
	border: 1% solid #cccccc;
	resize:none;
	margin: 1% 5%;
	border-radius: 0.2rem;
	font: normal 0.9rem/normal Verdana, Geneva, sans-serif;
	}

.txtarea-que-desc{
	width: 90%;
	height: 20%;
	border: 1% solid #cccccc;
	resize:none;
	margin: 1% 5%;
	border-radius: 0.2rem;
	font: normal 0.9rem/normal Verdana, Geneva, sans-serif;
	}

.txtarea-output{
	width: 90%;
	height: 80%;
	border: 1% solid #cccccc;
	resize:none;
	margin: 1% 5%;
	border-radius: 0.2rem;
	font: normal 0.9rem/normal Verdana, Geneva, sans-serif;
	}


.upload-file{
	 border: 1px solid #ccc;
   display: inline-block;
   padding: 1% 3%;
	 cursor: pointer;
   color: #fff;
	background-color: #000;
	 font: normal 1rem/normal Verdana, Geneva, sans-serif;
	margin: 3% 32%;
	border-radius: 0.5rem;
	-webkit-transition: .5s ease;
}

.upload-file:hover{
     color: #000;
	 background-color: #fff;
	-webkit-transition: .5s ease;
}



.radio{
	color:white;
	font-size:1rem;
	display:block;
	padding: 5px auto;
	margin-top:-1%; 
	margin-right: 3%;
	margin-left: 25%;
	margin-bottom: 1%;
}

/*-------------------------------------------------------------------------------------*/
 /*-----------------table style----------------*/
h1{ font-size: 2rem; color: #fff; text-transform: uppercase;
  font-weight: 300; text-align: center; margin-bottom: 2%;}

table{ width:100%; table-layout: fixed;}
.tbl-header{background-color: #333; color:white;}
.tbl-content{ height:300px;overflow:hidden;margin-top: 0px; border: 0px solid rgba(0,0,0,0.3);}
th{padding: 20px 15px;text-align: Center;font-weight: 500;font-size: 1rem;color: #fff;text-transform: uppercase;}
td{padding: 15px;text-align: center;vertical-align:middle;font-weight: 300;font-size: 1rem;color: #fff;
  border-bottom: solid 1px rgba(0,0,0,0.1); background-color:rgba(0,0,0,0.3);}

table tbody tr:hover {  
	background-color: teal;
	-webkit-transition: .5s ease;
}

td > a {
	padding: 15px;text-align: center;vertical-align:middle;font-weight: 300;font-size: 1rem;color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);}

td > a:hover {
	padding: 15px;text-align: center;vertical-align:middle;font-weight: 300;font-size: 1rem; color:aqua;
  border-bottom: solid 1px rgba(255,255,255,0.1);}
  
  
.sn{
	width:10%;
}  
.desc{
	width:50%;
	text-align: left;
	overflow: hidden;
	}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar { width: 6px; } 
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); } 
::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }

/*------------------------------------------------------------------------------------------------*/
